.vs
Account.API/bin
Account.API/obj
Account.BusinessLayer/bin
Account.BusinessLayer/obj
Account.BusinessLayer/obj
Account.DataAccessLayer/bin
Account.DataAccessLayer/obj
Account.DTO/bin
Account.DTO/obj
Account.Entities/bin
Account.Entities/obj
Account.InfrastructureEF/bin
Account.InfrastructureEF/obj
Account.Interfaces/bin
Account.Interfaces/obj
API.Helper/bin
API.Helper/obj
Documentacion/*.docx
Account.DTO/bin/